{
    "tailwindConfig": "./styles/tailwind.config.js",
    "tailwindAttributes": [
        "myClassList"
    ],
    "tailwindFunctions": [
        "clsx",
        "tw",
        "apply"
    ],
    "singleQuote": true
}