@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5eee6;
  color: #1c0b19;
  /* background: linear-gradient(90deg, #503c3c 30%, #f5eee6 25%); */
}
